__pycache__/
python/build/
python/dist/
python/.tox/
python/**/*.egg-info/
python/**/*.so
python/**/*.dll
python/**/*.pyd

/build
python/artifacts/

# visual studio
.vs/
out/

# vim
*.swp

# CMake, Ninja
.ninja_deps
.ninja_log
CMakeFiles
CTestTestfile.cmake

# Built artifacts
generated
rules.ninja
*.a
