include README.rst CMakeLists.txt mypy.ini tox.ini
graft src
graft tests

# add the C++ source via the symlink created by setup.py; prune to avoid a cycle
graft sdk
prune sdk/python
prune sdk/.git
prune sdk/artifacts
prune sdk/sdk-extensions
prune sdk/build
recursive-exclude sdk Jenkinsfile
recursive-exclude sdk clang-linting.sh